* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}


body {
    background: url("../images/backgroundImage.jpg") center center;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}


/*Cała nawigacja*/
nav {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: #03071E;
    z-index: 2;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Pierwszy segment nawigacji z logiem */
#firstNavElement {
    height: 100%;
    width: 33.33%;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#siteLogo {

    text-transform: uppercase;
    width: 30%;
    height: 100%;
    color: white;
    overflow: hidden;
    cursor: pointer;

    /* FlexBox Container */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

#firstLogoElement {
    font-size: 2.9vw;
    line-height: 100%;
    border-bottom: 1px solid white;
}

#secondLogoElement {
    font-size: 1.69vw;
    line-height: 100%;
}

/* Drugi segment nawigacji - Wyszukiwanie */

#secondNavElement {
    height: 100%;
    width: 33.33%;
}

/*Search Field*/
#searchBox {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 0;
    background-color: white;
    position: relative;
    top: 25%;
    left: 25%;

}

/*Serach Field Placeholder*/
#searchBox.empty {
    font-size: 2vh;
    text-align: center;
    line-height: 100%;
}


/*Trzeci segment nawigacji - podstrony */
#thirdNavElement {
    height: 100%;
    width: 33.33%;
    color: white;
    text-transform: uppercase;
    font-size: 1vw;

    /*Flexbox container dla 3 elementów podstron*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/*Podkreślenie podstrony w nawigacji w której się znajdujemy*/
#thirdNavElement>a:nth-child(3) {
    font-weight: 900;
    border-bottom: 2px solid #B08968;
}

#thirdNavElement>a:nth-child(1)::before,
#thirdNavElement>a:nth-child(2)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: #B08968;
    transition: .5s;
}

#thirdNavElement>a:nth-child(1):hover::before,
#thirdNavElement>a:nth-child(1):hover::before {
    left: 0;
}

/* Odnośniki do podstron */

#thirdNavElement>a {
    position: relative;
    border-style: none;
    overflow: hidden;
    text-decoration: none;
}

#thirdNavElement>a:visited {
    text-decoration: none;
    color: white;
    text-transform: none;
}


main {
    width: 90vw;
    height: 80vh;
    position: relative;
    top: 15vh;
    left: 5vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(237, 224, 212, 0.9);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------------------------*/
header {
    width: 100%;
    height: 10%;
    border-radius: 20px 20px 0 0;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.textBox {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 3vh;
    background-color: #E6CCB2;
    margin-top: 1%;
    border-radius: 20px;
    box-shadow: 0px 0px 31px -11px rgba(66, 68, 90, 1);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 100%;
    height: 90%;

    border-radius: 0 0 20px 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.accountInformation {
    width: 30%;
    height: 90%;
    background-color: #E6CCB2;
    font-size: 2vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

}

.accountInformation>h1 {
    height: 10%;
    width: 100%;
    text-align: center;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.accountInformation>button {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    background-color: #B08968;
    border: 0;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------ */



.profile>h1 {
    height: 10%;
    width: 100%;
    text-align: center;


    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#addNewVehicle {
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 2vh;
    border: 0;
    background-color: #B08968;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}


.ownedCar {
    width: 100%;
    border-radius: 20px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.deleteOwnedCar {
    cursor: pointer;
}



/* ------------------------------------------------------------ */

.savedThreads {
    width: 30%;
    height: 90%;
    background-color: #E6CCB2;
}

.savedThreads>h1 {
    height: 10%;
    width: 100%;
    text-align: center;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.savedElement {
    width: 100%;
    height: 10%;
    margin-top: 1vh;
    cursor: pointer;
    overflow: hidden;
}

.savedElementInfo {
    width: 80%;
    height: 100%;
    background-color: #B08968;
    text-align: center;
    float: left;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.deleteSavedElement {
    width: 20%;
    height: 100%;
    float: right;
    background-color: #B08968;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.changePasswordPopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 50%;
    background-color: #03071E;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    color: white;

    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}



.changePasswordPopup>input {
    width: 40%;
    height: 10%;
    font-weight: 300;
    font-size: 150%;
    border: none;
    border-left: 4px solid #B08968;
    outline: none;
    text-align: center;
    background-color: transparent;
    color: white;
}

.changePasswordPopup>button {
    width: 40%;
    height: 10%;
    border: 0;
    text-align: center;
    font-size: 2vh;
    background-color: #B08968;
}


.changePasswordPopup>.fa-times-circle {
    font-size: 300%;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
    color: white;
    cursor: pointer;
    z-index: 2;
}

main.avoid-clicks {
    filter: blur(10px);
    pointer-events: none;
}

.profile {
    width: 30%;
    height: 90%;
    background-color: #E6CCB2;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

#ownedVehicles {
    width: 100%;
    height: 80%;
    background-color: #E6CCB2;
    text-align: center;
    overflow: auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.addVehiclePopup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50%;
    background-color: #03071E;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    color: white;

    display: none;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.addVehiclePopup>.closeAddNewVehiclePopup {
    font-size: 300%;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
    color: white;
    cursor: pointer;
    z-index: 2;
}

.addVehiclePopup>input,
select {
    width: 40%;
    height: 10%;
    font-weight: 300;
    font-size: 150%;
    border: none;
    border-left: 4px solid #B08968;
    outline: none;
    text-align: center;
    background-color: #03071E;
    color: white;
}

.addVehiclePopup>input,
select:placeholder {
    color: white;
}

.addVehiclePopup>button {
    width: 40%;
    height: 10%;
    border: 0;
    text-align: center;
    font-size: 2vh;
    background-color: #B08968;
}