* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}


body {
    background: url("../images/backgroundImage.jpg") center center;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}


/*Cała nawigacja*/
nav {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: #03071E;
    z-index: 2;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Pierwszy segment nawigacji z logiem */
#firstNavElement {
    height: 100%;
    width: 33.33%;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#siteLogo {

    text-transform: uppercase;
    width: 30%;
    height: 100%;
    color: white;
    overflow: hidden;
    cursor: pointer;

    /* FlexBox Container */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

#firstLogoElement {
    font-size: 2.9vw;
    line-height: 100%;
    border-bottom: 1px solid white;
}

#secondLogoElement {
    font-size: 1.69vw;
    line-height: 100%;
}

/* Drugi segment nawigacji - Wyszukiwanie */

#secondNavElement {
    height: 100%;
    width: 33.33%;
}

/*Search Field*/
#searchBox {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 0;
    background-color: white;
    position: relative;
    top: 25%;
    left: 25%;

}

/*Serach Field Placeholder*/
#searchBox.empty {
    font-size: 2vh;
    text-align: center;
    line-height: 100%;
}


/*Trzeci segment nawigacji - podstrony */
#thirdNavElement {
    height: 100%;
    width: 33.33%;
    color: white;
    text-transform: uppercase;
    font-size: 1vw;

    /*Flexbox container dla 3 elementów podstron*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/*Podkreślenie podstrony w nawigacji w której się znajdujemy*/
#thirdNavElement>a:nth-child(2) {
    font-weight: 900;
    border-bottom: 2px solid #B08968;
}

#thirdNavElement>a:nth-child(1)::before,
#thirdNavElement>a:nth-child(3)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: #B08968;
    transition: .5s;
}

#thirdNavElement>a:nth-child(1):hover::before,
#thirdNavElement>a:nth-child(3):hover::before {
    left: 0;
}

/* Odnośniki do podstron */

#thirdNavElement>a {
    position: relative;
    border-style: none;
    overflow: hidden;
    text-decoration: none;
}

#thirdNavElement>a:visited {
    text-decoration: none;
    color: white;
    text-transform: none;
}


main {
    width: 90vw;
    height: 80vh;
    position: relative;
    top: 15vh;
    left: 5vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(237, 224, 212, 0.9);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* --------------------------------------------------------------------*/

header {
    width: 100%;
    height: 10%;
    text-align: center;
    color: black;
    font-size: 4vh;
    padding-top: 2vh;

}

.gallery {
    width: 100%;
    height: 80%;
    overflow: auto;
}

.gallery>.smallPhotos {
    width: 60%;
    height: 100%;
    object-fit: cover;
    float: left;
    overflow-x: hidden;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;

}

.smallPhotos>a {
    height: 50%;
    display: block;
    margin: 3vh;
    flex-basis: calc(50% - 6vh);
    box-shadow: 0.5vh 0.5vh 1vh 0 rgba(66, 68, 90, 1);
}

img {
    object-fit: cover;
    width: 50%;
    height: 100%;
    display: block;
    width: 100%;

}

.bigPhotos {
    width: 40%;
    height: auto;
    float: right;
    position: relative;
    border-left: 1px solid black;

    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

}

.bigPhotos a {
    display: block;
    margin: 3vh;
    flex-basis: calc(100% - 6vh);
    box-shadow: 0.5vh 0.5vh 1vh 0 rgba(66, 68, 90, 1);
}

footer {
    width: 100%;
    height: 10%;
    background-color: #E6CCB2;
    text-align: center;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#uploadPhotoToGallery {
    width: auto;
    height: 80%;
    padding: 2vh;
    cursor: pointer;
    text-align: center;
    font-size: 2vh;
    color: black;

    background-color: #B08968;
    font-style: 'Quicksand', sans-serif;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

}

.uploadPhotoToGalleryButton {
    width: auto;
    height: 80%;
    padding: 2vh;
    cursor: pointer;
    border: 0;
    font-size: 2vh;
    color: black;

    background-color: #B08968;
    border-left: 1px solid black;
    font-style: 'Quicksand', sans-serif;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}



#addNewThreadButton {
    position: absolute;
    font-size: 2vh;
    right: 0;
    bottom: 0;
    height: 10%;
    width: 20%;
    border-bottom-right-radius: 20px;
    background-color: #B08968;
    border: 0;
}