* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}


body {
    background: url("../images/backgroundImage.jpg") center center;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}


/*Cała nawigacja*/
nav {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: #03071E;
    z-index: 2;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Pierwszy segment nawigacji z logiem */
#firstNavElement {
    height: 100%;
    width: 33.33%;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#siteLogo {

    text-transform: uppercase;
    width: 30%;
    height: 100%;
    color: white;
    overflow: hidden;
    cursor: pointer;

    /* FlexBox Container */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

#firstLogoElement {
    font-size: 2.9vw;
    line-height: 100%;
    border-bottom: 1px solid white;
}

#secondLogoElement {
    font-size: 1.69vw;
    line-height: 100%;
}

/* Drugi segment nawigacji - Wyszukiwanie */

#secondNavElement {
    height: 100%;
    width: 33.33%;
}

/*Search Field*/
#searchBox {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 0;
    background-color: white;
    position: relative;
    top: 25%;
    left: 25%;

}

/*Serach Field Placeholder*/
#searchBox.empty {
    font-size: 2vh;
    text-align: center;
    line-height: 100%;
}


/*Trzeci segment nawigacji - podstrony */
#thirdNavElement {
    height: 100%;
    width: 33.33%;
    color: white;
    text-transform: uppercase;
    font-size: 1vw;

    /*Flexbox container dla 3 elementów podstron*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/*Podkreślenie podstrony w nawigacji w której się znajdujemy*/
#thirdNavElement>a:nth-child(1) {
    font-weight: 900;
    border-bottom: 2px solid #B08968;
}

#thirdNavElement>a:nth-child(2)::before,
#thirdNavElement>a:nth-child(3)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: #B08968;
    transition: .5s;
}

#thirdNavElement>a:nth-child(2):hover::before,
#thirdNavElement>a:nth-child(3):hover::before {
    left: 0;
}

/* Odnośniki do podstron */

#thirdNavElement>a {
    position: relative;
    border-style: none;
    overflow: hidden;
    text-decoration: none;
}

#thirdNavElement>a:visited {
    text-decoration: none;
    color: white;
    text-transform: none;
}


main {
    width: 90vw;
    height: 80vh;
    position: relative;
    top: 15vh;
    left: 5vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

/* Nawigacja nad wątkami rozmów*/
aside {
    width: 100%;
    height: 10%;
    font-size: 1.5vw;
    line-height: 9vh;
    /* margin-bottom: 0.3vh; */
    opacity: 1;

    /*Flexbox container*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

}

/* Nagłówek Temat */
aside>a:nth-child(1) {
    width: 40%;
    height: 100%;
    text-align: center;
    background-color: #EDE0D4;
    -webkit-border-top-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    border-top-left-radius: 20px;
}

/* Nagłówek Wpisy */
aside>a:nth-child(2) {
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: #E6CCB2;
}

/* Nagłówek Autor */
aside>a:nth-child(3) {
    height: 100%;
    width: 30%;
    text-align: center;
    background-color: #EDE0D4;
}

/* Nagłówek Oceny */
aside>a:nth-child(4) {
    height: 100%;
    width: 20%;
    text-align: center;
    background-color: #E6CCB2;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    border-top-right-radius: 20px;
}

/* WĄTKI */

.thread {
    width: 100%;
    background-color: #EDE0D4;
    height: 10vh;
    border-top: 1px solid black;
    /* FlexBox Container*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}


.threadTopic {
    width: 40%;
    text-align: left;
    height: 100%;
    background-color: transparent;


    /*FlexBox Container dla tytułu i daty */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.threadTopic>a:nth-child(1) {
    margin-left: 1vw;
    font-size: 1.7vw;
}

.threadTopic>a:nth-child(2) {
    margin-left: 1vw;
    font-size: 1vw;
}

/* WPISY */
.threadEntries {
    width: 10%;
    height: 100%;
    text-align: center;
    background-color: #E6CCB2;
    font-size: 2vw;
    line-height: 10vh;
    min-height: 100%;
}

/* AUTOR */
.threadAuthor {
    height: 100%;
    background-color: transparent;
    width: 30%;
    text-align: center;
    background-color: #EDE0D4;
    font-size: 1.5vw;
    line-height: 10vh;
}


/* OCENY */
.threadRate {
    height: 100%;
    width: 20%;
    text-align: center;
    background-color: #E6CCB2;
    font-size: 2vw;
    line-height: 10vh;
}

.checkedStar {
    color: orange
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    height: 7.5vh;
    background-color: #B08968;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    /*FlexBox Container dla Przycisku nowego wątku */
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

#addNewThread {
    height: 100%;
    width: auto;
    background-color: transparent;
    color: white;
    font-size: 1vw;
    border: 0;
    margin-right: 1vw;
    font-weight: 300;
    display: none;



    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
}

#addNewThread:hover {
    height: 100%;
    width: auto;
    background-color: transparent;
    font-size: 1vw;
    border: 0;
    color: white;
    font-weight: 900;


    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    border-bottom-right-radius: 20px;
}

/*DODAJ NOWY WĄTEK POPUP */
.addNewThreadPopUp {
    width: 85vw;
    height: 70vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    /*rgba(94, 81, 78, 0.6);*/
    z-index: 1;
    display: none;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    border: 1px solid black;


    display: none;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.addNewThreadPopUp>.fa-times-circle:before {
    font-size: 300%;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(50%, -50%);
    color: white;
    cursor: pointer;
}

.PopUpActive {
    display: flex;
}

.BlurBackground {
    filter: blur(10px);
    pointer-events: none;
}


/*POPUP Temat Container*/
.newThreadTopic {
    width: 100%;
    height: 20%;
    text-transform: uppercase;
    font-size: 3vh;
    color: white;


    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#topicInput {
    font-size: 3vh;
    padding-left: 1vw;
    letter-spacing: 0.2vw;
    margin-left: 1vw;
    width: 70%;
    height: 5vh;
    border: 0;
}

/*POPUP Treść Container*/
.newThreadContent {
    width: 100%;
    height: 60%;
    font-size: 3vh;
    text-transform: uppercase;
    color: white;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#contentInput {
    text-align: justify;
    padding: 1vw;
    width: 95%;
    height: 100%;
    margin-top: 1vh;
    font-size: 1.5vw;

}

/*POPUP Details Container*/
.newThreadDetails {
    width: 95%;
    height: 10%;
    color: white;
    font-size: 2vh;
    font-style: 'Quicksand', sans-serif;



    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

/*UPLOAD PLIKOW*/
label {
    display: inline-block;
    background-color: #B08968;
    color: white;
    padding: 1rem;
    font-style: 'Quicksand', sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;

}

#file-chosen {
    margin-left: 0.3rem;
    font-family: sans-serif;
}

#addNewThreadButton {
    position: absolute;
    font-size: 2vh;
    right: 0;
    bottom: 0;
    height: 10%;
    width: 20%;
    border-bottom-right-radius: 20px;
    background-color: #B08968;
    border: 0;
}

.testclick {

    width: 100%;
    height: 10vh;
    position: absolute;
}