* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}


body {
    background: url("../images/backgroundImage.jpg") center center;
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
}


/*Cała nawigacja*/
nav {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: #03071E;
    z-index: 2;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/* Pierwszy segment nawigacji z logiem */
#firstNavElement {
    height: 100%;
    width: 33.33%;

    /* FlexBox Container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

#siteLogo {

    text-transform: uppercase;
    width: 30%;
    height: 100%;
    color: white;
    overflow: hidden;
    cursor: pointer;

    /* FlexBox Container */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}

#firstLogoElement {
    font-size: 2.9vw;
    line-height: 100%;
    border-bottom: 1px solid white;
}

#secondLogoElement {
    font-size: 1.69vw;
    line-height: 100%;
}

/* Drugi segment nawigacji - Wyszukiwanie */

#secondNavElement {
    height: 100%;
    width: 33.33%;
}

/*Search Field*/
#searchBox {
    height: 50%;
    width: 50%;
    border-radius: 10px;
    border: 0;
    background-color: white;
    position: relative;
    top: 25%;
    left: 25%;

}

/*Serach Field Placeholder*/
#searchBox.empty {
    font-size: 2vh;
    text-align: center;
    line-height: 100%;
}


/*Trzeci segment nawigacji - podstrony */
#thirdNavElement {
    height: 100%;
    width: 33.33%;
    color: white;
    text-transform: uppercase;
    font-size: 1vw;

    /*Flexbox container dla 3 elementów podstron*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

/*Podkreślenie podstrony w nawigacji w której się znajdujemy*/
#thirdNavElement>a:nth-child(1) {
    font-weight: 900;
    border-bottom: 2px solid #B08968;
}

#thirdNavElement>a:nth-child(2)::before,
#thirdNavElement>a:nth-child(3)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: #B08968;
    transition: .5s;
}

#thirdNavElement>a:nth-child(2):hover::before,
#thirdNavElement>a:nth-child(3):hover::before {
    left: 0;
}

/* Odnośniki do podstron */

#thirdNavElement>a {
    position: relative;
    border-style: none;
    overflow: hidden;
    text-decoration: none;
}

#thirdNavElement>a:visited {
    text-decoration: none;
    color: white;
    text-transform: none;
}

/* --------------------------------------------- */
section {
    width: 70vw;
    height: 80vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}


/*Nagłówek posta*/
header {
    width: 100%;
    height: 15%;
    background-color: #E6CCB2;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}


header>.threadDate {
    align-self: flex-end;
    margin-right: 2%;
    position: absolute;
}

#headerActionBox {
    align-self: flex-start;
    margin-right: 2%;
    position: absolute;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

header>.far.fa-bookmark {
    padding: 0;
    align-self: flex-start;
    position: absolute;
    margin-left: 2%;
    cursor: pointer;
}

header>.fas.fa-bookmark {
    padding: 0;
    align-self: flex-start;
    position: absolute;
    margin-left: 2%;
    cursor: pointer;
}

#rateBox {
    width: 30%;
    border-radius: 20px;
    height: 60%;
    background-color: #03071E;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 2vh;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    text-align: center;

    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#rateBox>button {
    width: 60%;
    height: 10%;
    font-size: 2vh;
}

#rateForm {
    margin: 5%;
    font-size: 3vh;
    z-index: 5;
}

#cancelRateForm {
    position: absolute;
    top: 0;
    right: 0;

}

/*Kontener na wszystkie komenatarze w poście */

main {
    height: auto;
    overflow: hidden;
    overflow-y: auto;
}

/* Pojedyńczy komentarz w poście */


article {
    width: 100%;
    height: auto;
    min-height: 15%;
    margin-top: 2px;
    margin-bottom: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;


    background-color: #EDE0D4;


    /*FlexBox Container*/
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.newPostOptions {
    background-color: #B08968;
    width: 5%;

    /*FlexBox Container*/
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;

    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.newPostOptions>i {
    font-size: 125%;
}

.newPostContent {
    width: 60%;
    height: 100%;
    text-align: justify;
    padding: 2%;
    overflow-wrap: break-word;

    /*FlexBoxContainer*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.newPostInfo {
    width: 20%;

    /*FlexBox Container*/
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.newPostInfo>h4 {
    padding: 5%;
}

.newPostInfo>h4:first-of-type {
    border-bottom: 1px solid black;

}

.newPostStats {
    width: 15%;

    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.far {
    font-size: 200%;
    font-weight: 200;
    padding: 5%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fas {
    font-size: 200%;
    font-weight: 200;
    padding: 5%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fas.fa-thumbs-up>h5 {
    color: green;
}

.fas.fa-thumbs-down>h5 {
    color: red;
}

.far.fa-thumbs-up>h5 {
    color: green;
}

.far.fa-thumbs-down>h5 {
    color: red;
}

/* ---------------------- */

footer {
    width: 100%;
    height: 15%;

    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    background-color: #EDE0D4;


    /*FlexBox Container*/
    display: none;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.addNewComment {
    width: 75%;
    height: 80%;

    /*FlexBox Container*/
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;

}

.addNewComment>#newCommentInput {
    font-size: 200%;
    width: 85%;
    min-height: 100%;
    resize: vertical;
    height: auto;
    border: 0;
    border-radius: 20px;
    padding: 0;
    text-align: left;
}

.addNewComment>button {
    text-align: center;
    width: 10%;
    height: 100%;
    border: 0;
}


.addNewCommentAttachment {
    width: 20%;
    height: 80%;
    font-size: 150%;

    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

#EditComment {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 75%;
    height: 50%;
    background: #EDE0D4;
    overflow: hidden;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    /*FlexBox Container*/
    display: none;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

#EditComment>header {
    background-color: #B08968;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#EditComment.active {
    display: flex;
}

.blur {
    filter: blur(10px);
    pointer-events: none;
}


#EditComment>textarea {
    font-size: 3vh;
    margin-top: 2%;
    padding: 1%;
    width: 95%;
    resize: none;
    min-height: 50%;
    height: auto;
}

#EditCommentButtons {
    width: 95%;
    height: 10%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

#EditCommentButtons>button {
    margin-left: 2%;
    width: 20%;
    height: 100%;
    border: 0;
}

#submitEdited {
    background-color: #B08968;
}

#cancelEdited {
    background-color: #E6CCB2;
}


/* .imageSection {
    width: 20%;
    height: 20%;
} */

.imageSection>a>img {
    margin-top: 1vh;
    width: 20%;
    height: 100%;
}

/**** MEDIA ****/
@media only screen and (max-width: 320px),
(max-width: 375px),
(max-width: 425px) {
    /* ----------------------------------------- */

    #firstNavElement {
        width: 33%;
    }

    #siteLogo {
        width: 100%;
    }

    #firstLogoElement {
        font-size: 2vh;
    }

    #secondLogoElement {
        font-size: 1.2vh;
    }

    #searchBox {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 25%;
        width: 100%;
    }

    #secondNavElement {
        width: 33%;
    }


    #thirdNavElement {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 33%;
    }

    #thirdNavElement>a {
        margin-top: 5%;
        font-size: 1.4vh;
    }
}

/*---------- WĄTEK ------- */
@media only screen and (max-width: 320px),
(max-width: 375px),
(max-width: 425px) {
    section {
        width: 95%;
    }

    header>h1 {
        word-break: break-all;
    }

    header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;

    }

    header>.threadDate {
        align-self: center;
        position: relative;
    }

    #headerActionBox {
        flex-flow: row nowrap;
        position: relative;
        align-self: center;
        font-size: 70%;
        text-align: center;
    }

    #headerActionBox>i:nth-child(2) {
        padding-left: 5vw;
    }

    /* ------------ */
    article {
        flex-flow: column nowrap;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
    }

    .newPostOptions {
        border-radius: 20px;
        flex-flow: nowrap row;
        width: 100%;
        height: 2%;
    }

    .newPostContent {
        width: 100%;
        padding: 5%;
    }


    .newPostInfo {
        width: 100%;
        font-size: 1.5vh;
        flex-flow: row nowrap;
        word-break: break-all;
    }



    .newPostInfo>h4:first-of-type {
        border-bottom: 0;
    }

    .newPostStats {
        border-radius: 0;
        width: 100%;
    }

    footer {
        flex-flow: nowrap column;
        height: auto;
    }

    .addNewComment {
        width: 100%;
        flex-flow: column nowrap;
    }

    #newCommentInput {
        width: 100%;
    }

    #addNewCommentButton {
        width: 75%;
        margin-top: 2vh;
        padding: 2vh;
    }

    .addNewCommentAttachment {
        width: 100%;
    }

    #newCommentInput {
        font-size: 0.5vh;
        width: 100%;
    }

    #newCommentAttachment {
        width: 100%;
    }

    #rateBox {
        width: 100%;
    }

    #EditComment {
        width: 100%;
        height: 70vh;
    }

    #EditCommentButtons>button {
        width: 50%;
    }

    #EditCommentButtons {
        width: 100%;
    }
}